<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center" @click="onHeaderClickHandler">
        <v-avatar class="shrink mr-2" size="40" transition="scale-transition">
          <v-img :src="getUserImage" />
        </v-avatar>
        <span v-if="getUserName">{{ getUserName }}</span>
      </div>

      <v-spacer></v-spacer>
      <div v-if="showLogout" class="mr-4">
        <v-btn icon color="white" @click="logout"> <v-icon>mdi-logout</v-icon> Logout </v-btn>
      </div>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'App',
  computed: {
    ...mapGetters('user', ['getUserImage', 'getUserName']),
    showLogout: function () {
      return this.$route.path !== '/login';
    }
  },
  methods: {
    onHeaderClickHandler: function () {
      this.$router.push({ name: 'Profile' });
    },
    logout: async function () {
      this.$store.dispatch('user/logout');
      this.$router.push({ name: 'Login' });
    }
  }
};
</script>
