<template>
  <v-container>
    <banner :email="getUserEmail" />
    <talk-list />
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';
import banner from '@/components/banner.vue';
import talkList from '@/components/talk-list.vue';

export default {
  name: 'Home',
  computed: {
    ...mapGetters('user', ['getUserEmail', 'isAuthenticated'])
  },
  components: {
    banner,
    'talk-list': talkList
  },
  beforeRouteEnter: function (to, from, next) {
    next(vm => {
      const { isAuthenticated, $store, $router } = vm;
      if (isAuthenticated) {
        $store.dispatch('user/getCurrentUser');
      } else {
        $router.push({ name: 'Login' });
      }
    });
  }
};
</script>
