<template>
  <v-main>
    <v-container fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="4">
          <v-card class="elevation-12">
            <v-toolbar color="primary" dark flat>
              <v-toolbar-title>Barbarados Login</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-form ref="form" lazy-validation>
                <v-text-field
                  label="E-mail"
                  name="email"
                  prepend-inner-icon="mdi-email"
                  type="text"
                  clearable
                  outlined
                  v-model="email"
                  :rules="[rules.required, rules.email]"
                ></v-text-field>
              </v-form>
              <p class="red--text" v-if="error">{{ error }}</p>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" @click="submit" :loading="loading" :disabled="!isFormValid"
                >Login</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import { isNotNilOrEmpty, isNilOrEmpty } from '@flybondi/ramda-land';

const EMAIL_REGEX = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

export default {
  name: 'LoginForm',
  computed: {
    ...mapState('user', ['token', 'error']),
    ...mapGetters('user', ['isAuthenticated']),
    isFormValid: function () {
      return isNotNilOrEmpty(this.email) && EMAIL_REGEX.test(this.email);
    }
  },
  data: () => ({
    email: null,
    loading: false,
    rules: {
      required: value => !!value || 'This field is required',
      email: value => EMAIL_REGEX.test(value) || 'Invalid e-mail'
    }
  }),
  methods: {
    submit: async function (event) {
      const { form } = this.$refs;
      this.loading = true;
      this.$store.dispatch('user/setError', null);
      if (form.validate()) {
        await this.$store.dispatch('user/authenticate', this.email);
        if (isNilOrEmpty(this.error)) {
          this.$router.push({ name: 'Home' });
        }
      }

      this.loading = false;
    }
  }
};
</script>
