<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img alt="Profile image" :src="getUserImage" class="my-3" contain height="200" />
      </v-col>

      <v-col class="mb-4">
        <p class="subheading font-weight-regular">
          Your name is {{ getUserName }} and your email is {{ getUserEmail }}
        </p>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <h2 class="font-weight-bold mb-3">
          You have starred {{ getUserStarredTalks.length }} talks
        </h2>
      </v-col>
      <v-col v-for="(talk, i) in getUserStarredTalks" :key="i" cols="12">
        <card :item="talk" :isStarred="true" :showActions="false" />
      </v-col>
    </v-row>
    <v-btn class="ml-5 mt-5" icon color="primary" @click="onClickHandler">
      <v-icon>mdi-arrow-left</v-icon>
      Back
    </v-btn>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';
import card from '@/components/card.vue';

export default {
  name: 'Profile',
  computed: {
    ...mapGetters('user', [
      'getUserEmail',
      'getUserStars',
      'getUserImage',
      'getUserName',
      'getUserStarredTalks',
      'isAuthenticated'
    ])
  },
  components: {
    card
  },
  beforeRouteEnter: function (to, from, next) {
    next(vm => {
      const { isAuthenticated, $store, $router } = vm;
      if (isAuthenticated) {
        $store.dispatch('user/getUserStarredTalks');
      } else {
        $router.push({ name: 'Login' });
      }
    });
  },
  methods: {
    onClickHandler: function () {
      this.$router.push({ name: 'Home' });
    }
  }
};
</script>
