<template>
  <v-container>
    <card :item="getTalk" :showActions="false" :loading="!getTalk" :editable="true" />
    <v-btn class="ml-5 mt-5" icon color="primary" @click="onClickHandler">
      <v-icon>mdi-arrow-left</v-icon>
      Back
    </v-btn>
  </v-container>
</template>

<script>
import card from '@/components/card.vue';
import { mapGetters } from 'vuex';
export default {
  name: 'Talk',
  components: {
    card
  },
  computed: {
    ...mapGetters('talk', ['getTalk']),
    ...mapGetters('user', ['isAuthenticated', 'isAdmin', 'isSpeaker'])
  },
  beforeRouteEnter: function (to, from, next) {
    next(vm => {
      const { isAuthenticated, isAdmin, isSpeaker, $store, $route, $router } = vm;
      if (isAuthenticated || isAdmin || isSpeaker) {
        const { talkId } = $route.params;
        $store.dispatch('talk/getTalk', talkId);
      } else {
        $router.push({ name: 'Login' });
      }
    });
  },
  methods: {
    onClickHandler: function () {
      this.$router.push({ name: 'Home' });
    }
  }
};
</script>
