<template>
  <v-row class="text-center">
    <v-col cols="12">
      <v-img
        alt="Barbarados logo"
        :src="require('../assets/logo.png')"
        class="my-3"
        contain
        height="200"
      />
    </v-col>

    <v-col class="mb-4">
      <h1 class="display-2 font-weight-bold mb-3">
        Welcome to Barbarados
      </h1>

      <p class="subheading font-weight-regular">
        Hello, {{ email }}! <br />
        Here you will find all our conference talks
      </p>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: ['email']
};
</script>
