<template>
  <v-card :loading="loading || submitting">
    <article v-if="item" class="d-flex flex-no-wrap justify-space-between align-center">
      <v-avatar v-if="item.speaker" class="ma-3" size="100">
        <v-img :src="item.speaker.image" />
      </v-avatar>
      <section class="flex mr-10">
        <v-card-title v-if="!editable" class="headline" v-text="item.title"></v-card-title>
        <v-card-title v-if="editable" class="headline">
          <v-form ref="form" lazy-validation>
            <v-text-field
              label="Title"
              name="title"
              type="text"
              clearable
              @change="title = value"
              :value="item.title"
              :rules="[rules.required]"
            />
          </v-form>
        </v-card-title>
        <v-card-subtitle v-if="item.speaker" v-text="item.speaker.name" />
        <v-card-text>
          <div class="my-4 subtitle-1">
            <v-icon>mdi-clock</v-icon>
            <span class="ma-2">{{ item.time }}</span>
          </div>
        </v-card-text>
      </section>
      <section class="mr-2" v-bind:style="{ position: 'absolute', right: 0, top: 0 }">
        <v-btn icon :color="getBtnColor" @click="onStarClickHandler">
          <span v-if="item.stars >= 0">{{ item.stars }}</span>
          <v-icon>mdi-star</v-icon>
        </v-btn>
      </section>
    </article>
    <v-card-actions>
      <v-btn v-if="showActions" color="deep-purple lighten-2" text @click="onActionClickHandler"
        >Edit</v-btn
      >
      <v-btn
        v-if="editable"
        color="deep-purple lighten-2"
        text
        :loading="submitting"
        :disabled="!isFormValid"
        @click="onSubmitClickHandler"
        >Save</v-btn
      >
    </v-card-actions>
  </v-card>
</template>

<script>
import { isNotNilOrEmpty } from '@flybondi/ramda-land';
export default {
  name: 'Card',
  props: ['item', 'isStarred', 'showActions', 'loading', 'editable'],
  data: () => ({
    title: null,
    room: null,
    submitting: false,
    rules: {
      required: value => !!value || 'This field is required'
    }
  }),
  computed: {
    isFormValid: function () {
      return isNotNilOrEmpty(this.title);
    },
    getBtnColor: function () {
      return this.isStarred ? 'yellow' : 'grey';
    }
  },
  methods: {
    onActionClickHandler: function () {
      const { talkId } = this.item;
      this.$router.push({ name: 'Talk', params: { talkId } });
    },
    onSubmitClickHandler: async function () {
      const { form } = this.$refs;
      this.submitting = true;
      if (form.validate()) {
        await this.$store.dispatch('talk/updateTalk', {
          talkId: this.item.talkId,
          title: this.title,
          room: this.room
        });
      }
      this.submitting = false;
    },
    onStarClickHandler: function () {
      this.isStarred
        ? this.$store.dispatch('talk/removeStar', this.item.talkId)
        : this.$store.dispatch('talk/addStar', this.item.talkId);
    }
  }
};
</script>
