<template>
  <v-list nav dense>
    <v-list-item-group color="primary" v-model="selected">
      <v-list-item v-for="(item, i) in schedule" :key="i">
        <v-list-item-content>
          <v-list-item-title v-text="item" @click="setSelectedDate(item, i)" />
        </v-list-item-content>
      </v-list-item>
    </v-list-item-group>
  </v-list>
</template>
<script>
export default {
  name: 'schedule-nav',
  data: () => ({
    selected: 0
  }),
  props: ['schedule'],
  methods: {
    setSelectedDate: function (date, i) {
      this.$store.dispatch('talk/setScheduleDate', date);
    }
  }
};
</script>
