<template>
  <article>
    <schedule-nav :schedule="getSchedule" />
    <v-row>
      <v-col v-for="(talk, i) in talks" :key="i" cols="12">
        <card
          :item="talk"
          :isStarred="isTalkStarred(talk.talkId)"
          :showActions="isAdmin || isSpeaker"
        />
      </v-col>
    </v-row>
  </article>
</template>

<script>
import card from '@/components/card.vue';
import scheduleNav from '@/components/schedule-nav.vue';
import { compose, find, equals } from 'ramda';
import { isNotNilOrEmpty } from '@flybondi/ramda-land';
import { mapGetters } from 'vuex';

const findId = (id, list) => compose(isNotNilOrEmpty, find(equals(id)))(list);
export default {
  name: 'talk-list',
  components: {
    card,
    scheduleNav
  },
  computed: {
    ...mapGetters('talk', ['getTalksGroupByDate', 'getSchedule', 'getSelectedDate']),
    ...mapGetters('user', ['getUserStars', 'isAdmin', 'isSpeaker']),
    talks: function () {
      return this.getTalksGroupByDate[this.getSelectedDate] ?? [];
    }
  },
  created: function (to, from, next) {
    this.$store.dispatch('talk/getTalks');
  },
  methods: {
    isTalkStarred: function (talkdId) {
      return findId(talkdId, this.getUserStars);
    }
  }
};
</script>
